In [13]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append(f'E:\gitlab\custom-script\script')
from ursar import feature_importance

%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
# Load libraries
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import pandas as pd
import numpy as np

In [76]:
# Load iris data
iris = load_iris()

# Create features and target
X = iris.data
y = iris.target
col = ['a','b','c','d']

In [84]:
feature_importance.feature_selection(X,y,col,2)

Original number of features: 4

column                a          b            c           d
anova        119.264502  49.160040  1180.161182  960.007147
chi_squared   10.817821   3.710728   116.312613   67.048360

    0        1         2         3
0 NaN  0.11757  0.871754  0.817941
1 NaN      NaN  0.428440  0.366126
2 NaN      NaN       NaN  0.962865
3 NaN      NaN       NaN       NaN