In [13]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append(f'E:\gitlab\custom-script\script')
from ursar import feature_importance

%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
# Load libraries
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import pandas as pd
import numpy as np

In [3]:
# Load iris data
iris = load_iris()

# Create features and target
X = iris.data
y = iris.target

In [15]:
feature_importance.feature_selection(X,y,'anova',2)

Original number of features: 4
Reduced number of features: 2
[ 119.26450218   49.16004009 1180.16118225  960.0071468 ]

In [23]:
df = pd.DataFrame(X)
# Create correlation matrix
corr_matrix = df.corr().abs()
# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [24]:
upper

    0        1         2         3
0 NaN  0.11757  0.871754  0.817941
1 NaN      NaN  0.428440  0.366126
2 NaN      NaN       NaN  0.962865
3 NaN      NaN       NaN       NaN

In [ ]:
x = ['a','b','c','d']
fs = [ 119.26450218,49.16004009,1180.16118225,960.0071468 ]
fr = [ 49.16004009,1180.16118225,960.0071468,119.26450218 ]